<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
          <a href="client/index.html.twig">clients </a>
          <a href="fruits/index.html.twig">Fruits</a>

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
